<ion-view title="Alunos" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="alunos-list4">

      <ion-item class="item-remove-animate item-avatar item-icon-right" style="background-color: #C2A5A5 !important" ng-repeat="detail in details" type="item-text-wrap" ng-controller="ChatsCtrl"  ng-click="openShareModel(detail)">
        <img ng-src="{{profilepic.profileimageurl}}">

        <h2>{{detail.date | date :'fullDate'}}</h2>
        <h2>{{detail.title}}</h2>
        <p>{{detail.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-controller="ChatsCtrl" ng-click="remove(detail.id)">
          Delete
        </ion-option-button>
      </ion-item>

      <ion-item id="alunos-list-item10">Item 1</ion-item>
      <ion-item id="alunos-list-item11">Item 2</ion-item>
      <ion-item id="alunos-list-item12">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
