<ion-view title="Disciplinas" id="page4" ng-controller="disciplinasCtrl">

  <ion-content padding="true" class="has-header">

      <div class="demo-card bordered" ng-repeat="disciplina in disciplinas" ui-sref="alunos({disciplina: disciplina.id})">
        <div class="card">
          <div class="item">
            <h2>{{disciplina.descricao}}</h2> {{disciplina.horario}}
            <p>Turma: {{disciplina.turma}} - {{disciplina.periodo}}</p>
          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
